html {
  color: #222;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

head, body {
  margin: .5em;
}

h1 {
  font-size: 1.5rem;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #8f2440;
  font-size: 1.125rem;
  font-family: "PT sans", sans-serif;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figure {
  text-align: center;
}

figure + p {
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.125rem;
  line-height: normal;
}

.magic cite:last-child {
  font-size: .8rem;
}

nav > ol {
  font-family: "PT Sans", sans-serif;
  list-style: none;
}

.magic > ol {
  list-style: lower-greek;
}

dl > dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
